<!-- Footer Content for all pages-->
<!-- Page Content -->
</div>
<script type="text/javascript" src="/../js/all.js"></script>
<script type="text/javascript" src="/../js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/../js/bootstrap.js"></script>
<!--To handle all post request of employers page -->
<script type="text/javascript" src="/../js/employers.js"></script>
</body>
</html>