 <!-- Footer Content for all pages--> 
 <!-- Page Content -->
    </div>
    <script type="text/javascript" src="/../js/all.js"></script>
    <script type="text/javascript" src="/../js/bootstrap.js"></script>
    <script type="text/javascript" src="/../js/jquery-3.2.1.js"></script>
</body>
</html>