<%- include layouts/header.ejs %>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Welcome to a Job Bridge Application</h1>
                <p class="lead">An Innovative approach to connect all job seekers and employers!!</p>
                <ul class="list-unstyled">
                    <li><a href ="/employers">Get a Employers Information</a></li>
                    <li><a href ="/jobSeekers">Get a Job Seekers Information</a></li>
                    <li><a href ="/jobs">Get a Jobs List</a></li>
                    <li><a href ="/sendNotifications">Send a Notifications</a></li>
                    <li><a href ="/jobTypes">Get a Job Types</a></li>
                    <li><a href ="/jobCategories">Get a Job Categories</a></li>
                </ul>
            </div>
        </div>
<%- include layouts/footer.ejs %>